@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="/styles/cygnus-homepage-style.css">
<script src="/scripts/home-page.js"></script>

<form method="post">
    <div class="cyngus-search">
        <input id="searchInput" name="searchText" class="cyngus-search-input" />
        <button id="searchButton" class="cyngus-search-button" asp-page-handler="Search">Search</button>
    </div>
</form>

<div class="cygnus-product-list">
    @foreach (var product in Model.Products)
    {
        <div class="cygnus-product">
            <div class="product-image">
                <img src="@product.ImageUrl" alt="@product.Name"/>
            </div>
            <div class="cygnus-product-info">
                <h2>@product.Name</h2>
                <p>@product.Description</p>
            </div>
            <div class="cygnus-product-details">
                <button class="cygnus-add-to-cart" onclick="redirectToProductPage(@product.Id)">View Details</button>
                <p class="cygnus-price">$@product.Price</p>
            </div>
        </div>
    }
</div>

