@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="/styles/cygnus-homepage.css">
<script src="/scripts/home-page.js"></script>

<form method="post">
    <div class="cyngus-search">
        <input id="searchInput" name="searchText" class="cyngus-search-input" />
        <button id="searchButton" class="cyngus-search-button" asp-page-handler="Search">Search</button>
    </div>
</form>


<h2>Top selling</h2>
<div class="cygnus-product-list">
    @foreach (var product in Model.Products.Where(p => p.Tag == "topSelling"))
    {
        <div class="cygnus-product">
            <div class="product-image">
                <img src="@product.ImageUrl" alt="@product.Name"/>
            </div>
            <div class="cygnus-product-info">
                <h2>@product.Name</h2>
                <p>@product.Description</p>
            </div>
            <div class="cygnus-product-details">
                <button class="cygnus-add-to-cart" onclick="redirectToProductPage(@product.ProductId)">View Details</button>
                <p class="cygnus-price">$@product.Price</p>
            </div>
        </div>
    }
</div>
    <hr>
<h2>Espresso Beans</h2>
<div class="cygnus-product-list">
    @foreach (var product in Model.Products.Where(p => p.Tag == "espresso"))
    {
        <div class="cygnus-product">
            <div class="product-image">
                <img src="@product.ImageUrl" alt="@product.Name"/>
            </div>
            <div class="cygnus-product-info">
                <h2>@product.Name</h2>
                <p>@product.Description</p>
            </div>
            <div class="cygnus-product-details">
                <button class="cygnus-add-to-cart" onclick="redirectToProductPage(@product.ProductId)">View Details</button>
                <p class="cygnus-price">$@product.Price</p>
            </div>
        </div>
    }
</div>
<hr>
<h2>Decaf Coffee Beans</h2>
<div class="cygnus-product-list">
    @foreach (var product in Model.Products.Where(p => p.Decaf == true))
        {
            <div class="cygnus-product">
                <div class="product-image">
                    <img src="@product.ImageUrl" alt="@product.Name"/>
                </div>
                <div class="cygnus-product-info">
                    <h2>@product.Name</h2>
                    <p>@product.Description</p>
                </div>
                <div class="cygnus-product-details">
                    <button class="cygnus-add-to-cart" onclick="redirectToProductPage(@product.ProductId)">View Details</button>
                    <p class="cygnus-price">$@product.Price</p>
                </div>
            </div>
        }
    </div>

