@page
@model Cygnus.Pages.ProductModel

@{
    ViewData["Title"] = @Model.Product.Name;
}
<link rel="stylesheet" href="/styles/cygnus-product-style.css">

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div class="cygnus-product-page">
    <div class="cygnus-product-view">
        <div><img src="@Model.Product.ImageUrl" alt="@Model.Product.Name"/></div>
        <h1>@Model.Product.Name</h1>
        <p>@Model.Product.Description</p>
    </div>
    <form class="cygnus-checkout" method="post">
        <h2>@Model.Product.Name</h2>
        <hr>
        <p id = "quantity">Quantity: <input type="number" id="quantity-input" value="1" /></p>
        <hr>
        <p>Total: $<b id="total">@Model.Product.Price</b></p>
        <div class="cygnus-checkout-container">
            <input type="hidden" name="id" value="@Model.Product.ProductId" />
            <button id="checkout" asp-page-handler="AddToCart">Add to Cart</button>
        </div>
    </form>
</div>
</body>
</html>
